.wrapper {
  width: 100%;
  position: relative;
}

.sliderTrack {
  display: flex;
  gap: var(--spacing-sm);

  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

.slide {
  flex: 0 0 calc((100% - 2 * var(--spacing-sm)) / 3);
  scroll-snap-align: start;
}
